.category_main {
  position: relative;
}

.category_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.9s linear;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.category_main:hover .category_list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.hero__item {
  position: relative;
	height: 431px;
	display: flex;
	transition: all 1s linear;
	align-items: center;
	
}

.set_bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.arrow_div_right{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #e9e6e6;
  position: absolute;
  top: 50%;
  right: -15px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.arrow_div_left{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #e9e6e6;
  position: absolute;
  top: 50%;
  left: -15px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow_right{
  font-size: 1rem;
 
  color: black;
  

}
.arrow_left{
  font-size: 1rem;
  
  color: black;
  top: 50%;
  left: 10px;
  z-index: 10;
}
