.category_main {
  position: relative;
}

.category_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s linear;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.category_main:hover .category_list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.hero__item {
  position: relative;
	height: 431px;
	display: flex;
	transition: all 1s linear;
	align-items: center;
	
}

.set_bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.arrow_right{
  font-size: 1.5rem;
  background-color: rgb(77, 61, 61);
  color: white;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 10;
}
.arrow_left{
  font-size: 1.5rem;
  background-color: rgb(77, 61, 61);
  color: white;
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 10;
}