.category_main {
  position: relative;
}

.category_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s linear;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.category_main:hover .category_list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
