.product-color-wrapper {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-left: 15px;
}

.product_color_image_div {
    width: 30px;
    height: 30px;
    padding: 1px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .product-color-wrapper {
        margin-left: 5px;
    }

    .product_color_image_div {
        width: 20px;
        height: 20px;
        padding: 1px;
    }
}