@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #DB3340;
}

.Dashboard_layout {
    display: flex;
}

.dashboard_content {
    flex: 1;
}

.sideBarDiv {
    width: 15rem; /* You can adjust this value based on your design */
    background: var(--primary-color);
    min-height: 100vh;
    height: auto;
    padding: 1rem; /* Add some padding */
}

.sideBar_icon_siteName {
    margin-bottom: 2rem;
}

.sideBar_list {
    margin-top: 1rem;
}

.sideBar_list span {
    font-size: 15px;
    font-family: "Roboto Serif", serif;
}

.sideBarIcon {
    color: white;
    font-size: 25px;
}
.size_btn{
    background:var(--primary-color);
}
.btn-hover:hover{
    background: #e60719;
    color: white ;
    outline: none;
}